#main{
    background-color:white;
    width: 1250px;
    text-align:center;
    border-radius:20px;
    margin:10px auto 0;
    padding: 50px 50px;
}
.intro_text{
    font-size:28px;
    font-family: 'Nanum Pen Script', cursive;
}
.box {
    max-width:470px;
    height:100px;
    background: #74ebd5;
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    margin:30px auto 0;
    color:#fff;
    border-radius:20px;
    padding: 1px 35px; 
    text-align:center;
}

.dropdown {
    min-width: 13em;
    position: relative;
    margin: 2em;
}
.dropdown * {
    box-sizing: border-box;
}
.select {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #fafbfc solid;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    transition: background 0.3s;
    overflow-y: auto;
}
.selected {
    text-align: center;
    flex-grow: 1;
}
.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
    background: #c9defa;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg); 
}
.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgba(201, 222, 250, 0.5);
    border: 1px #b4b6bd solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color:#5c5757;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    max-height:140px;
    overflow-y: scroll;
}
.menu li {
    cursor: pointer;
}
.menu li:hover {
    background: #fff;
}
.active {
    background: #fff;
}
.menu-open {
    display: block;
    opacity: 1;
}
.error{
    text-align:left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    display:none;
}
body {
    font-family: Helvetica, sans-serif;
    background: #23242a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align-last: center;
}