*{
    list-style:none;
}
#result {
    display:none;
    background-color:white;
    width: 1250px;
    text-align:center;
    border-radius:20px;
    margin:70px auto 70px;
    padding: 50px 50px;
}
.weather_result, .cloth_result {    
    padding-top:70px;
}
.result_text{
    text-align:center;
    font-size:48px;
    font-weight:100px;
    font-family: 'Nanum Pen Script', cursive;
}
.result_box {
    width:90%; 
    max-width:470px;
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    margin:30px auto 0;
    color:#fff;
    border-radius:20px;
    padding: 5px 35px 40px 35px; 
    text-align:center;
}
.cloth{
    margin-top:30px;
}

.return{
    width:90%; 
    font-size: 30px;
    max-width:250px;
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    margin:30px auto 0;
    color:#fff;
    border-radius:20px;
    border: none;
    padding: 20px 35px; 
    margin-top:70px;
    margin-bottom:80px;
    text-align:center;
    cursor:pointer;
    font-family: 'Nanum Pen Script', cursive;

}

.return:hover, .return:focus, .return:active{
    background:#579a91;
}